.content_limitation {
    max-width: 1440px;
    width: 100%;
}

.outer_distance {
    margin-inline: 120px;
}

/*C_header*/
header {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_icon{
    height: 32px;
}

.header_menu{
    height: 60px;
    width: 60px;
}

/*C_hero*/
.section_hero{
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(./assets/img/hero_img.jpg);
    height: 500px;
    background-size: cover;
    object-fit: cover;
    transform: rotate(180deg);
}

.hero_logo_container{
    top: -100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 230px;
    background-color: var(--color-primary-tint);
    border-radius: 100%;
}

.hero_logo{
    height: 200px;
    width: 200px;
    transform: rotate(180deg);
    border-radius: 100%;
}

.section_title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

.section_title_wrapper{
    display: flex;
    flex-direction: column;
}

.main_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.title_primary{
    color: var(--color-primary);
}

.title_rating_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 32px;
    width: 110px;
    background-color: var(--color-primary-tint);
}

.title_rating_icon{
    height: 24px;
    width: 24px;
}

.rating_text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: "Palenquin Dark";
    font-weight: 400;
    font-size: 20px;
}

.rating_text span{
    color: var(--color-tertiary-text);
    font-size: 18px;
}

.title_undertext{
    font-size: 24px;
    font-weight: 700;
}

/*C_main*/

main {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu_section{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.menu_section_content_wrapper{

}

.menus_undersection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.menu_info{
    display: flex;
    flex-direction: column;
}

.category_header{
    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
    height: 60px;
    margin-top: 100px;
    margin-bottom: 80px;

    background-color: var(--color-primary);
}

.category_wrapper{
    display: flex;
    justify-content: center;
}

.category_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    gap: 32px;
}

.category_icon{
    bottom: 0px;
    height: 90px;
}

.category_title{
    padding-top: 10px;
}

.section_menu{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dish_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    max-width: 1440px;
}

.dish_card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    width: 700px;
    background-color: var(--color-primary-tint);
    padding: 12px;
    border-radius: 12px;
}

.dish_img{
    height: 128px;
    width: 192px;
    object-fit: cover;
    border-radius: 12px;
}

.dish_info{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;

    font-size: 16px;
    font-weight: 500;
}

.dish_price_and_order{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 64px;
}

.dish_order_button{
    font-family: "palanquin";
    font-weight: 600;
    height: 28px;
    width: 100px;
    padding-bottom: 16px;

    cursor: pointer;
    border-radius: 8px;
    border-style: none;
}

.dish_order_button:hover{
    color: var(--color-primary);
}

.category_content{
    display: flex;
    justify-content: center;
}

#dialog_purchase_confirmed{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: var(--color-secondary);
    padding: 48px;

    border-radius: 30px;
}

#dialog_purchase_confirmed[open]{
    display: flex;
}

.dialog_header{
    display: flex;
    justify-content: end;
    height: 16px;
    width: 100%;
}

#dialog_close_button{
    display: flex;
    justify-content: end;
    height: 16px;
    width: 16px;
    

    background-color: transparent;
}

.car_icon{
    height: 60px;
    width: 80px;

    object-fit: cover;
}

.bottom_menu{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 64px;
    width: 100%;

    background-color: var(--color-secondary);
}

.bottom_menu_icon{
    height: 32px;
    width: 32px;
}

#bottom_menu_basket_button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

/*C_footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 128px;
    background-color: var(--color-primary);
    margin-top: 128px;
}

.footer_content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1280px;
}

.footer_text{
    display: flex;
    justify-content: center;
    flex: 1;

    font-family: "palanquin";
    color: var(--color-primary-text);
    font-size: 18px;
    font-weight: 400;
}

@media(max-width:1340px){

    .dish_card{
        width: 550px;
    }
}

@media(max-width:1000px){

    h1 {
        font-size: 44px;
        font-weight: 700;
    }

    .title_undertext{
        font-size: 20px;
        font-weight: 700;
    }

    h2 {
        color: var(--color-primary-text);
        font-size: 36px;
        font-weight: 700;
    }

    h3 {
        text-align: center;
        color: var(--color-primary-tint);
        font-size: 28px;
        font-weight: 700;
    }

    h4 {
        color: var(--color-secondary-text);
        font-size: 20px;
        font-weight: 600;
    
    }

    .basket_title{
        font-size: 18px;
        font-weight: 700;
    }

    .dialog_title{
        color: var(--color-primary-tint);
        font-size: 38px;
        font-weight: 700;
    }

    .dialog_title_undertext{
        color: var(--color-primary-tint);
        font-size: 25px;
        font-weight: 700;
    }
}

@media(max-width:920px){

    .outer_distance{
        margin-inline: 40px;
    }

    .category_header{
        height: 50px;
    }

    .category_icon{
        height: 64px;
        width: 64;
    }

    .category_title{
        flex: 1;
    }

    .dish_card{
        flex-direction: column;
        width: 300px;
    }

    .dish_img{
        height: 256px;
        width: 256px;
    }

    .dish_price_and_order{
        flex-direction: row;
    }
}

@media(max-width:670px){

    .bottom_menu{
        display: none;
    }

    .basket_wrapper{
        display: none;
    }

}

@media(max-width:380px){

    .dish_card{
        width: 220px;
    }

    .dish_img{
        height: 192px;
        width: 192px;
    }

    .footer_img{
        height: 32px;
        width: 32px;
    }
}