#basket{
    position: sticky;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 400px;
    padding: 16px;

    background-color: var(--color-secondary);
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

#basket_content{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(231, 195, 173, 1) var(--color-secondary);
    padding-right: 8px;
    height: 600px;
}

.basket_section_prices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.price_and_delivery_table{
    color: var(--color-primary-text);
    width: 80%;

    font-size: 20px;
    font-weight: 600;
}

.price_and_delivery__tr{
    display: flex;
    justify-content: space-between;
}

.basket_price_bar{
    height: 2px;
    width: 80%;
    background-color: white;
}

.basket_total{
    display: flex;
    justify-content: space-between;
    width: 80%;

    color: var(--color-primary-text);
    font-size: 22px;
    font-weight: 700;
}

#basket_order_button{
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    font-size: 32px;
    font-weight: 700;
    padding: 12px;

    border-radius: 32px;
}

.basket_element_container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 320px;
    margin-bottom: 16px;
    padding: 20px;

    background-color: var(--color-primary-tint);
    border-radius: 20px;
}

.basket_section_element_title_and_priceControl{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.basket_section_price_and_delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;

    font-size: 24px;
    font-weight: 700;
}

.add_and_remove_container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.basket_buttons{
    background-color: transparent;
    border-style: hidden;
}

.icon_wrapper{
    height: 18px;
    width: 16px;
}

.order_element_delete_icon{
    cursor: pointer;
    height: 18px;
    width: 16px;
}

#order_element_subtract_icon{
    cursor: pointer;
}

.dNone{
    display: none;
}